# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
*.html

# Dev assets
/run/*
/libraries/1.12.2/

# other
*.rar
*.jks
local.properties